@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f9f9f9;
    font-family: 'Rubik',"sans-serif";
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(50%);
  }
  